name: Deploy to AWS Lambda

on:
  push:
    branches:
      - main

jobs:
  lambdaDeploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@main
      - name: list the directories
        run: ls -la
 